<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Curtinhas - Entrar</h1>
                </div>
                <div class="card-body">
                  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <label for="usuario">Login</label>
                        <input formControlName="login" type="text" class="form-control" id="usuario" placeholder="Digite seu usuário">
                        <app-validacao-erro [erros]="validarLogin()"></app-validacao-erro>
                      </div>
                      <div class="form-group">
                        <label for="senha">Senha</label>
                        <input formControlName="senha" type="password" class="form-control" id="senha" placeholder="Digite sua senha">
                        <app-validacao-erro [erros]="validarSenha()"></app-validacao-erro>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                      </div>
                  </form>
                </div>
              </div>
              <br/>
              <div class="card text-center">
                <div class="card-header">
                    <h5>Ainda não é cadastrado?</h5>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary" (click)="cadastrarUsuario()">Criar Cadastro</button>
                </div>
              </div>
        </div>
    </div>
</div>