<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron">
        <h1 class="display-12">Adicionar curtinha</h1>
        <form>
          <div class="form-group">
            <label>Título</label>
            <textarea class="form-control" rows="2" id="titulo" placeholder="Digite o título da notícia" #titulo></textarea>
          </div>
          <div class="form-group">
              <label>Resumo</label>
              <textarea class="form-control" rows="3" id="resumo" placeholder="Digite o resumo da notícia" #resumo></textarea>
            </div>
          <div class="form-group">
            <label>Link</label>
            <input type="text" class="form-control" id="link" placeholder="Coloque o link da notícia" #link>
          </div>
          <div class="form-group">
            <label for="detalhes">Detalhes</label>
            <textarea class="form-control" id="detalhes" rows="6" placeholder="Digite detalhes (resumo estendido) da notícia" #detalhes></textarea>
          </div>
          <div class="form-group">
              <label>Imagem</label>
              <input type="urlImagem" class="form-control" id="urlImagem" placeholder="Coloque o link do thumbnail da notícia" #urlImagem>
          </div>
          <button type="submit" class="btn btn-primary" (click)="addCurtinha(urlImagem, titulo, resumo, link, detalhes)">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>