<div *ngIf="usuarioService.naoCadastrou" class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <ul>
      <li *ngFor="let erro of errosServidor">
          {{ erro }}
      </li>
  </ul>
</div>

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto border-0 rounded bg-light">
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                  <div class="col-sm-10 mx-auto text-center">
                      <h1>Novo Usuário</h1>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nome" placeholder="Ex. Christian" formControlName="nome">
                    <app-validacao-erro [erros]="validarNome()"></app-validacao-erro>
                  </div>
                </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" placeholder="Ex. christian@exemplo.com" formControlName="email">
                  <app-validacao-erro [erros]="validarEmail('email')"></app-validacao-erro>
                </div>
              </div>
              <div class="form-group row">
                  <label for="login" class="col-sm-2 col-form-label">Login</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="login" placeholder="Ex. christianmsc" formControlName="login">
                    <app-validacao-erro [erros]="validarLogin()"></app-validacao-erro>
                  </div>
                </div>
              <div class="form-group row">
                <label for="senha" class="col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha">
                  <app-validacao-erro [erros]="validarSenha()"></app-validacao-erro>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 mx-auto text-center">
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>