<div class="container text-center" *ngIf="carregando">
  <div class="row">
   <div class="col-md-6 offset-md-3">
    <div class="spinner-border text-primary" role="status">
     <span class="sr-only">Carregando...</span>
    </div>
   </div>
 </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
            <img src="{{ curtinha?.urlImagem }}" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="curtinha-titulo">{{ curtinha?.titulo }}</h5>
            <div class="row">
              <div class="col">
                <p><small class="text-info">{{ curtinha?.dataPublicacao | date: 'dd/MM/yyyy' }} às {{ curtinha?.dataPublicacao | date: 'HH:mm' }}</small></p>
              </div>
              <div *ngIf="authService.adminLogado" class="col text-right">
                <p><small class="text-secondary">Editado: {{ curtinha?.dataEdicao | date: 'dd/MM/yyyy' }} às {{ curtinha?.dataEdicao | date: 'HH:mm' }}</small></p>
              </div>
            </div>
            <p class="card-text font-weight-light">{{ curtinha?.resumo }}</p>
            <p class="card-text">{{ curtinha?.detalhes }}</p>
            <a href="{{ curtinha?.link }}" class="btn btn-primary" target="_blank">Ler notícia completa</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />


<!-- Modal p/ excluir -->
<div class="modal fade" id="deletarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletar Curtinha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja deletar essa curtinha?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deletarCurtinha()">Sim, deletar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal p/ editar -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Curtinha</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group">
                <label>Título</label>
                <textarea class="form-control" id="titulo" rows="2" value="{{ curtinha?.titulo }}" #titulo></textarea> 
              </div>
              <div class="form-group">
                  <label>Resumo</label>
                  <textarea class="form-control" id="resumo" rows="3" value="{{ curtinha?.resumo }}" #resumo></textarea>
              </div>
              <div class="form-group">
                <label>Detalhes</label>
                <textarea class="form-control" id="detalhes" rows="6" value="{{ curtinha?.detalhes }}" #detalhes></textarea>
              </div>
              <div class="form-group">
                <label>Link</label>
                <input type="text" class="form-control" id="link" value="{{ curtinha?.link }}" #link>
              </div>
              <div class="form-group">
                <label>Imagem</label>
                <input type="text" class="form-control" id="urlImagem" value="{{ curtinha?.urlImagem }}" #urlImagem>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="editarCurtinha(urlImagem.value, titulo.value, resumo.value, detalhes.value, link.value)">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="authService.adminLogado" class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h5>Opções do administrador</h5>
          <br/>
          <div class="row">
            <div class="col-md-6 text-center">
              <button class="btn btn-primary" data-toggle="modal" data-target="#editarModal">Editar</button>
            </div>
            <div class="col-md-6 text-center">
              <button class="btn btn-primary" data-toggle="modal" data-target="#deletarModal">Deletar</button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

